# Node dependencies
node_modules/

# Local databases
*.sqlite
*.sqlite3
*.db

# User uploads & recordings
public/uploads/*
!public/uploads/.gitkeep
public/recordings/*
!public/recordings/.gitkeep

# Environments & sensitive files
.env
.env.local

# OS files
.DS_Store
Thumbs.db
